body {
  margin: 0;
  padding: 0;
  background-color: #222;
  overflow: hidden;
}
.centre {
  display: flex;
  justify-content: center;
  align-items: center;
}
.right, .left {
  display: inline-block;
  width: 50vw;
  height: 100vw;
}
canvas {
  max-height: 100%;
  max-width: 100%;
}

