body {
  margin: 0;
  padding: 0;
  background-color: #222;
  height: 100vh;
  overflow: hidden;
}

.grid {
  display: grid;
  grid-template-columns: 50% 50%;
}

.grid > div {
  max-height: calc(100vh - 44px);
}

.toolbar {
  padding: 3px;
  text-align: center;
}

.examples {
  display: inline-block;
  width: 200px;
  height: 38px;
  margin: 0 8px;
}

/* Iframe */
iframe {
  height: 100%;
  width: 100%;
  border: none;
}

.centre {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: calc(50vh - 2px);
}

textarea {
  margin: 0;
  padding: 0;
}

canvas {
  max-height: 100%;
  max-width: 100%;
  margin: 0;
  padding: 0;
}

.hidden {
  display: none;
}
