/* General */
:root {
  --toolbar-height: 54px;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  height: 100vh;
  overflow: hidden;
  grid-template-columns: 1fr;
}

#playground {
  grid-column: 1;
}

.grid {
  display: grid;
  grid-template-columns: 50% 50%;
}

.grid > div {
  height: calc(100vh - var(--toolbar-height));
}

.green {
  border-color: var(--green) !important;
}

.blue {
  border-color: var(--blue) !important;
}

.hidden {
  display: none;
}

iframe {
  height: 100%;
  width: 100%;
  border: none;
}
/* END */

/* Toolbar */
.toolbar {
  padding: 2px;
  height: var(--toolbar-height);
  text-align: center;
  background: var(--bg0);
}

.examples {
  display: inline-block;
}
/* END */

/* Forms */
.share-form {
  overflow-y: auto;
}

button,
select,
a.button,
input,
textarea,
label.checkbox {
  display: inline;
  padding: 10px;
  color: var(--fg);
  background: var(--bg0);
  border: 2px solid var(--light_grey);
  border-radius: 0;
  margin: 0 4px;
}

input[type="checkbox"] {
  display: inline-block;
}

.toolbar button,
.toolbar select,
.toolbar .button {
  margin: 0 4px !important;
}

label.checkbox input[type="checkbox"] {
  margin-right: 10px;
}

button:hover,
select:hover,
a.button:hover {
  background: var(--bg3) !important;
}

button {
  padding: 12px;
}

a.button {
  text-decoration: none;
  cursor: default;
}

a.button:visited {
  color: var(--fg);
}

.link-form,
.embed-form {
  max-width: 500px;
  margin: 10px auto;
}

.embed-form label {
  margin: 3px auto;
  width: 220px;
  display: block;
}

.embed-form label:not(.checkbox) {
  text-align: right;
  overflow: auto;
}

.embed-form input[type="text"] {
  width: 100px;
  margin-left: 10px;
}

.embed-form textarea {
  display: block;
  width: 100%;
  height: 100px;
}

.embed-form .copy-button {
  display: block;
  margin: 10px auto;
  width: 100px;
}

.link-form {
  display: flex;
}

.link-form input {
  flex: 1;
  margin-right: -2px;
}
.link-form .copy-button {
  width: 100px;
}

/* CodeMirror Tweaks */
.cm-editor {
  height: 100%;
  font-size: 1rem;
}

.cm-scroller {
  overflow: auto;
}
