/* TODO: Move to top Taylor */
:root {
  --toolbar-height: 50px;
}

:root {
  --font-family: system-ui, sans-serif;

  /* https://github.com/navarasu/onedark.nvim/blob/master/lua/onedark/palette.lua */
  --black: #0e1013;
  --bg0: #1f2329;
  --bg1: #282c34;
  --bg2: #30363f;
  --bg3: #323641;
  --bg_d: #181b20;
  --bg_blue: #61afef;
  --bg_yellow: #e8c88c;
  --fg: #a0a8b7;
  --purple: #bf68d9;
  --green: #8ebd6b;
  --orange: #cc9057;
  --blue: #4fa6ed;
  --yellow: #e2b86b;
  --cyan: #48b0bd;
  --red: #e55561;
  --grey: #535965;
  --light_grey: #7a818e;
  --dark_cyan: #266269;
  --dark_red: #8b3434;
  --dark_yellow: #835d1a;
  --dark_purple: #7e3992;
}

@media (prefers-color-scheme: light) {
  :root {
    --black: #101012;
    --bg0: #fafafa;
    --bg1: #f0f0f0;
    --bg2: #e6e6e6;
    --bg3: #dcdcdc;
    --bg_d: #c9c9c9;
    --bg_blue: #68aee8;
    --bg_yellow: #e2c792;
    --fg: #383a42;
    --purple: #a626a4;
    --green: #50a14f;
    --orange: #c18401;
    --blue: #4078f2;
    --yellow: #986801;
    --cyan: #0184bc;
    --red: #e45649;
    --grey: #a0a1a7;
    --light_grey: #818387;
    --dark_cyan: #2b5d63;
    --dark_red: #833b3b;
    --dark_yellow: #7c5c20;
    --dark_purple: #79428a;
  }
}

* {
  box-sizing: border-box;
}
/* END */

body {
  margin: 0;
  padding: 0;
  height: 100vh;
  overflow: hidden;
}

.grid {
  display: grid;
  grid-template-columns: 50% 50%;
}

.grid > div {
  height: calc(100vh - var(--toolbar-height));
}

/* Toolbar */
.toolbar {
  padding: 1px;
  height: var(--toolbar-height);
  text-align: center;
  background: var(--bg0);
}

.examples {
  display: inline-block;
}

.green {
  border-color: var(--green);
}

.blue {
  border-color: var(--blue);
}

button, select, a.button {
  display: inline;
  padding: 10px;
  color: var(--fg);
  background: var(--bg0);
  border: 2px solid var(--light_grey);
  border-radius: 0;
}

button:hover, select:hover, a.button:hover {
  background: var(--bg3);
}

button {
  padding: 12px;
}

a.button {
  text-decoration: none;
  cursor: default;
}

a.button:visited {
  color: var(--fg);
}

.hidden {
  display: none;
}

iframe {
  height: 100%;
  width: 100%;
  border: none;
}

/* CodeMirror Tweaks */
.cm-editor {
  height: 100%;
  font-size: 1rem;
}

.cm-scroller {
  overflow: auto;
}
